
body {
    background-image: url('imagens/torre_eiffel_paris.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color:white
}

header {
    background-color: #5555556c;
    color: rgb(230, 6, 6);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

main {
    padding: 20px;
}


.conteudo-transparente {
    background-color: rgb(0, 0, 0); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(243, 240, 240);
    color:white
}

.conteudo-transparente h2 {
    font-size: 24px;
    margin-top: 0;
}

.conteudo-transparente p {
    font-size: 16px;
}
