



body {
    background-image: url('imagens/torre_eiffel_paris.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative; 
}


.icon-container {
    position: relative; 
    z-index: 2; 
    text-align: center;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    padding: 10px;
    max-width: 100%;
    height: auto;
}

.icon-container img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #5555556c;
    color: rgb(230, 6, 6);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

main {
    padding: 20px;
}


.conteudo-transparente {
    background-color: rgb(0, 0, 0); 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(243, 240, 240);
    color:white
}

.conteudo-transparente h2 {
    font-size: 24px;
    margin-top: 0;
}

.conteudo-transparente p {
    font-size: 16px;
}
.main-content p {
    text-align: left;
    
}

.text1-left {
    width: 50%; 
    float: left; 
    padding-right: 20px; 
}

.text2-right {
    width: 50%; 
    float: right; 
    padding-right: 20px; 
}


.clear {
    clear: both;
}


.image1-right {
    width: 50%; 
    float: right; 
}


.image-right img {
    max-width: 100%; 
    height: auto; 
}
.small-image {
    max-width: 100%; 
    height: auto; 
    width: 50%;
    border-radius: 10px; 
}

.image2-left {
    width: 50%; 
    float: right; 
}

.small-image-turismo {
    max-width: 100%; 
    height: auto; 
    width: 60%;
    border-radius: 10px; 
}


